[submodule "projects/blockly-mooc"]
	path = projects/blockly-mooc
	url = git@github.com:code-dot-org/blockly.git
	branch = master
[submodule "projects/dashboard"]
	path = projects/dashboard
	url = git@github.com:code-dot-org/dashboard.git
	branch = master
[submodule "projects/blockly-core"]
	path = projects/blockly-core
	url = git@github.com:code-dot-org/blockly-core-i18n.git
	branch = master
[submodule "projects/pegasus"]
	path = projects/pegasus
	url = git@github.com:code-dot-org/pegasus.git
	branch = develop
